@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Open+Sans:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("../ASSETS/lines-pattern-black-background.avif");
}
body::-webkit-scrollbar {
  width: 15px;
  background: black;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(109, 78, 194);
  border-radius: 1rem;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(183, 199, 38);
}

header {
  background-color: rgb(109, 78, 194);
  position: sticky;
  top: 0;
  height: 6rem;
  z-index: 1;
  border-bottom: 0.2rem solid;
}
header nav .panel_header {
  height: 2rem;
  padding: 0.8rem 1rem;
  top: 0rem;
}
header nav .panel_header a picture .company_logo {
  position: fixed;
  top: 0.2rem;
  left: 1rem;
  z-index: 2;
}
header nav .panel_header a picture .shopCart_logo {
  position: fixed;
  top: 0.5rem;
  right: 1rem;
  z-index: 2;
}
header nav .panel_header h1 {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  color: gold;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 0px 1px 4px black;
}
header nav .panel_header ul {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: -10px;
}
header nav .panel_header ul li {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  background-color: black;
  text-align: center;
  list-style-type: none;
}
header nav .panel_header ul li a {
  margin: 0.5rem;
  color: gold;
  text-decoration-line: none;
}

footer {
  background-color: rgb(109, 78, 194);
  position: relative;
  bottom: 2rem;
  margin-top: 50px;
}
footer .panel_footer {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  padding: 0.5rem 0.5rem;
  font-weight: bolder;
  text-align: center;
  font-size: 1.5rem;
  position: relative;
  top: -0.5rem;
  color: rgb(183, 199, 38);
  text-align: center;
  font-weight: bold;
  text-shadow: 0px 1px 4px black;
}
footer .panel_footer h6 {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  padding-bottom: -5rem;
  position: relative;
  bottom: -4.5rem;
}
footer .panel_footer .social_media {
  padding-top: 0.3rem;
  position: relative;
  bottom: 1rem;
}
footer .panel_footer .social_media .social_media_link {
  margin: 0.5rem;
  color: gold;
  text-decoration-line: none;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  margin-left: 1rem;
  margin-right: 1rem;
  text-decoration-line: none;
}

.box_shopCart {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  padding-top: 10rem;
}
.box_shopCart .panel_shopCart {
  background-color: rgb(109, 78, 194);
  box-shadow: 0px 0px 4px 4px rgb(183, 199, 38);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 500px;
  height: 200px;
  margin-bottom: 10rem;
  border-radius: 12px;
  border: solid 2px rgb(183, 199, 38);
}
.box_shopCart .panel_shopCart h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
  text-shadow: 0px 2px 1px rgb(183, 199, 38);
}
.box_shopCart .panel_shopCart .content_shopCart {
  background-color: rgb(183, 199, 38);
  width: 30rem;
  height: 10rem;
  border-radius: 12px;
  box-shadow: 0px 0px 4px 2px black;
  border-radius: 12px;
  border: solid 2px rgb(109, 78, 194);
}
.box_shopCart .panel_shopCart .content_shopCart p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  height: 2.5rem;
  text-align: center;
  color: black;
  border-radius: 12px;
  background-color: rgb(109, 78, 194);
  border: solid 2px rgb(183, 199, 38);
}
.box_shopCart .info {
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
}
.box_shopCart .info h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  text-shadow: 0px 2px 1px rgb(183, 199, 38);
}
.box_shopCart .info p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(183, 199, 38);
  text-shadow: 0px 2px 1px black;
  margin: 1.5rem;
}
.box_shopCart .info p span {
  text-decoration: dashed;
}
.box_shopCart .info .delivery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  height: 250px;
}
.box_shopCart .info .delivery h3 {
  text-shadow: 0px 2px 1px rgb(109, 78, 194);
}
.box_shopCart .info .delivery p {
  width: 20rem;
}
.box_shopCart .info .delivery .labelScoment {
  margin-bottom: 0.5rem;
}
.box_shopCart .info .delivery #localSite {
  margin-bottom: 1rem;
}

.lorem_historyComp {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  color: white;
  text-align: center;
  padding-bottom: 10rem;
}

span {
  color: rgb(183, 199, 38);
  text-shadow: 0px 0px 1px 1px black;
  font-weight: bold;
}

.frame_video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem;
}
.frame_video iframe {
  border-radius: 15px;
}

.frame_mapa {
  margin: 5rem;
}

.panel_sConsulta {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  height: 20rem;
  width: 70rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: normal;
  margin: 10rem 20rem 10rem 24rem;
  border-radius: 12px;
  background-color: rgb(183, 199, 38);
  box-shadow: 0px 4px 4px rgb(109, 78, 194);
}
.panel_sConsulta form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.labelScoment {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: black;
  text-shadow: 0px 1px 2px black;
  font-weight: bold;
  text-decoration: none;
}

input {
  background-color: black;
  color: rgb(109, 78, 194);
}
input:hover {
  color: rgb(183, 199, 38);
  background-color: rgb(109, 78, 194);
}

#localSite {
  background-color: black;
  color: rgb(109, 78, 194);
  border-radius: 10px;
  width: 6rem;
}
#localSite option {
  background-color: black;
  color: rgb(109, 78, 194);
}
#localSite option:hover {
  color: rgb(183, 199, 38) !important;
  background-color: rgb(109, 78, 194) !important;
}
#localSite:hover {
  color: rgb(183, 199, 38);
  background-color: rgb(109, 78, 194);
}

.sign_txt {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  color: rgb(183, 199, 38);
  text-align: center;
  font-weight: bold;
  text-shadow: 0px 1px 4px black;
  padding: 1rem;
  margin-top: 5rem;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 5rem;
  background-color: rgb(109, 78, 194);
  border-radius: 5px;
}

.exhibitor {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: repeat(3, 250px);
  grid-template-areas: "helmet bike bike" "cloth biketwo biketwo" "panoram panoram panoram";
  gap: 15px;
}
.exhibitor .item {
  width: 100%;
  height: 100%;
  background-size: cover;
  border: solid 4px rgb(183, 199, 38);
  border-radius: 12px;
}
.exhibitor .helmet {
  grid-area: helmet;
}
.exhibitor .cloth {
  grid-area: cloth;
}
.exhibitor .bike {
  grid-area: bike;
  background-color: rgb(109, 78, 194);
}
.exhibitor .biketwo {
  grid-area: biketwo;
  background-color: rgb(183, 199, 38);
  border: solid 4px rgb(109, 78, 194);
}
.exhibitor .biketwo img {
  position: relative;
  top: -0.5rem;
}
.exhibitor .panoram {
  grid-area: panoram;
}
.exhibitor .panoram img {
  border-radius: 12px;
}

.grid_shop {
  display: grid;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: repeat(2, 500px);
  grid-template-areas: "cardone cardtwo cardtre" "cardfour cardfive cardsix";
  gap: 10px;
  padding-top: 5rem;
  padding-bottom: 10rem;
}
.grid_shop .shop_item {
  width: 450px;
  height: 450px;
  background-size: cover;
  border: solid 4px rgb(183, 199, 38);
  border-radius: 12px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
  align-content: end;
}
.grid_shop .shop_item img {
  position: relative;
  top: -2rem;
}
.grid_shop .shop_item h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(109, 78, 194);
  color: black;
  text-shadow: 0px 1px 2px black;
  font-weight: bold;
  text-decoration: none;
  color: rgb(183, 199, 38) !important;
  text-align: center;
  height: 3rem;
  width: 450px;
  text-align: center;
}
.grid_shop .shop_item h4 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(183, 199, 38);
  color: black;
  text-shadow: 0px 1px 2px black;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  height: 2rem;
  width: 450px;
  text-align: center;
}
.grid_shop .shop_item .but_item {
  background-color: rgb(109, 78, 194);
  width: 450px;
  height: 32px;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 12px;
  color: gold !important;
  color: black;
  text-shadow: 0px 1px 2px black;
  font-weight: bold;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}
.grid_shop .shop_item .but_item:hover {
  color: black;
  background-color: rgb(183, 199, 38);
  transition: 1s;
}
.grid_shop .cardone {
  grid-area: cardone;
}
.grid_shop .cardtwo {
  grid-area: cardtwo;
}
.grid_shop .cardtre {
  grid-area: cardtre;
}
.grid_shop .cardfour {
  grid-area: cardfour;
}
.grid_shop .cardfour img {
  margin-bottom: -4rem;
}
.grid_shop .cardfive {
  grid-area: cardfive;
}
.grid_shop .cardsix {
  grid-area: cardsix;
}
.grid_shop .cardsix img {
  margin-left: -1rem;
}

@media (max-width: 768px) {
  header {
    width: 425px;
  }
  header nav .panel_header .company_logo {
    width: 40px;
    height: 40px;
    margin-top: 0.5rem;
  }
  header nav .panel_header .shopCart_logo {
    width: 30px;
    height: 30px;
    margin-top: 0.5rem;
  }
  header nav .panel_header .menu_header li a {
    font-size: 0.8rem;
  }
  .frame_video {
    width: 425px;
    margin: 2rem 0rem 0rem 0rem;
  }
  .frame_video iframe {
    width: 400px;
  }
  .sign_txt {
    font-size: 0.5rem;
  }
  .exhibitor {
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
  }
  footer .panel_footer {
    font-size: 1.2rem;
  }
  footer .panel_footer h6 {
    margin-bottom: 1rem;
  }
  footer .panel_footer .social_media a img {
    width: 30px;
    height: 30px;
  }
  .grid_shop {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .grid_shop .shop_item {
    width: 300px;
    height: 300px;
  }
  .grid_shop .shop_item img {
    width: 70%;
    height: 50%;
  }
  .grid_shop .cardtwo img {
    width: 50%;
  }
  .grid_shop .cardfour {
    grid-area: cardfour;
  }
  .grid_shop .cardfour img {
    margin-bottom: 0rem;
  }
  .panel_sConsulta {
    width: 80%;
    margin: 0rem 1rem 20rem 2.5rem;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8rem;
    padding-left: 1rem;
  }
  .panel_sConsulta #comentsService {
    width: 19rem;
  }
  .box_shopCart {
    flex-direction: column;
  }
  .box_shopCart .panel_shopCart {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
